BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 2
TabWidth: 4
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 0
AccessModifierOffset: -2
Cpp11BracedListStyle: false
